@import '../../assets/colors.scss';
.particles{
    width: 100%;
    overflow: hidden;
    background-color: #00080F;
    >*{
        width: 100%;
    }
    .particles__BG{
        position: absolute;
        z-index: 0;
    }
    .particles__content{
        position: relative;
        z-index: 1;

    }
}