@import '../../utils/colors.scss';
.welcome{
    width: 100%;
    background-color: $white;
    height: 100vh;
    padding: 5vh 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .welcome__banner{
        align-self: flex-start;
    }
    .welcome__greeting{
        text-align: center;
        grid-area: greeting;
        color: $navy;
        margin: 0 15%;
        .greeting__highlight{
            color: $gold;
        }
    }
    .welcome__greeting,.welcome__greeting>*{
        font-family: FuturaMedium;
        font-size: calc(1.6vw + 1.6vh + .75vmin);
    }
    .worshipImage{
        height: 40%;
    }
    .welcome__findOutMore{
    }
}