@import '../../utils/colors.scss';
.welcome{
    width: 100%;
    background-color: $white;
    height: 100vh;
    padding: 5vh 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 20% 50% 30% 10%;
    grid-template-areas: 
    'banner banner banner .'
    '. worshipImage worshipImage . '
    '. greeting greeting .'
    '. findOut findOut .'
    ;
    justify-items: center;
    *{
        // max-width: 100%;
        max-height: 100%;
    }
    .welcome__banner{
        grid-area: banner;
        justify-self: flex-start;
    }
    .welcome__greeting{
        align-self: center;
        justify-self: center;
        grid-area: greeting;
        color: $navy;
        .greeting__highlight{
            color: $gold;
        }
    }
    .welcome__greeting,.welcome__greeting>*{
        font-family: FuturaMedium;
        font-size: 30px;
    }
    .worshipImage{
        grid-area: worshipImage;
    }
    .welcome__findOutMore{
        grid-area: findOut;
    }
}