@import '../../utils/colors.scss';
.slideshow{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    .slide{
        min-width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        transition: transform .5s;
    }
    .slideshow__button{
        position: absolute;
        font-size: 50px;
        height: 70%;
        &.slideshow__button_left{
            
        }
        &.slideshow__button_right{
            right: 0;
        }
    }
}