@import '../../assets/colors.scss';
.checkboxInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    *{
        margin: .5em 0;
    }
    .checkboxInput__input{
        color: $navy;
        padding: 1em;
        border-radius: 10px;
        border: none;
        width: 100%;
    }
}