@import '../../utils/colors.scss';

.sideNav{
    height: 100vh;
    min-height: 100%;
    background-color: $navy;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    transition: transform .5s, opacity .6s;
    padding: 2rem;
    display: grid;
}
.hiddenNav{
    transform: translate3d(0,-100vh,0);
    opacity: 0;
}
.closeSidebarButton{
    font-size: 30px;
}