@import '../../utils/colors.scss';

.sideNav{
    height: 100vh;
    min-height: 100%;
    background-color: $navy;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    transition: transform .5s, opacity .6s;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 15% 60% 20% 5% ;
    grid-template-areas: 
    'logo logo . cross'
    '. nav nav nav'
    '. social social social'
    'bottomBorder bottomBorder bottomBorder bottomBorder'
    ;
}
.sideNav__logo{
    grid-area: logo;
}
.sideNav__cross{
    grid-area: cross;
    align-self: flex-start;
    justify-self: flex-end;
    font-size: 30px;
    margin-right: 1rem;
}
.sideNav__nav{
    grid-area: nav;
}
.sideNav__social{
    grid-area: social;
    margin-right: 1rem;
}
.sideNav__bottomBorder{
    grid-area: bottomBorder;
    align-self: flex-end;
}
.hiddenNav{
    transform: translate3d(0,-100vh,0);
    opacity: 0;
}