@import '../../assets/colors.scss';
.closingSectionParticles{
    height: 80vh;
}
.closingSection{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .closingSection__connect, .closingSection__about {
        >div{
            height: 90%;
            width: 100%;
        }
    }
    .closingSection__connect {
        background-color: $gold;
        *{
            color: $navy;
        }
        h1{
            border-color: $navy;
        }
        >div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            justify-items:center ;
            border-bottom: $white solid 1px;
            span{
                font-size: calc(1.2vw + 1.2vh + .6vmin);
                font-family: FuturaBook;
            }

        }
        .closingSection__icon{
            display: flex;
            justify-content: center;
            fill: $navy;
            height: 60%;
            width: 100%;
            svg{
                height: 100%;
                width: auto;
            }
        }
    }
    .closingSection__about{
        background-size: cover;
        >div{
            width: 90%;
            padding-top: 30%;
            font-size: calc(1.1vw + 1.1vh + .55vmin);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 768px){
    .closingSection{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}