@import '../../assets/colors.scss';
.closingSection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .closingSection__connect, .closingSection__about {
        >div{
            height: 90%;
            width: 100%;
        }
    }
    .closingSection__connect {
        background-color: $navy;
        >div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            justify-items:center ;
            border-bottom: $white solid 1px;
            span{
                font-size: calc(1.2vw + 1.2vh + .6vmin);
                font-family: FuturaBook;
            }

        }
        .closingSection__icon{
            display: flex;
            justify-content: center;
            fill: $yellow;
            height: 60%;
            width: 100%;
            svg{
                height: 100%;
                width: auto;
            }
        }
    }
    .closingSection__about{
        background-size: cover;
        >div{
            width: 50%;
            padding-top: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
}

@media only screen and (min-width: 768px){
    .closingSection{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}