.closingSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    .closingSection__display{
        flex-grow: 1;
    }
}
@media only screen and (min-width: 768px){
    .closingSection{
        flex-direction: row;
    }
}