@import '../../assets/colors.scss';
.manageEventSignUp{
    width: 100%;
    margin-top: 2%;
    background-color: $white;
    padding: 1%;
    border-radius: .5rem;
    .manageEventSignUp__title{
        text-align: center;
    }
    .manageEventSignUp__program{
        margin-top: 1rem;
        .program__entries{
            .entry__member{
                display: flex;
                align-items: center;
                >*{
                    flex-grow: 1;
                }
                span{
                    display: inline-flex;
                    flex-direction: column;
                }
                .member__button{
                    width: fit-content;
                    margin: 2px;
                    align-self: flex-end;
                }
            }
        }
        .program__headerInfo{
            display: flex;
            align-items: center;
            .program__title{
                font-size: calc(1vh + 1vw + .5vmin);
                margin-bottom: .4rem;
            }
        }
    }
    *{
        color: $navy;
        text-align: left;
    }
}