@import '../../assets/colors.scss';

.button{
    display: block;
    font-family: FuturaBook;
    min-width: fit-content;
    max-width: inherit;
    width: 80px;
    text-align: center;
    margin: 10px;
    height: fit-content;
    text-decoration: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.button_link{
    text-decoration:none;
}
.transparent{
    background-color: rgba(0,0,0,0);
    border: none;
}
.small{
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}
.medium{
    width: 50px;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px;
}
.large{
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}
.yellowBG{
    border: none;
    background: $yellowGradient;
}
.whiteFont{
    color: $white;
}
.whiteBorder{
    border: white 2px solid;
    border-radius: 12px;
}

.navyBorder{
    border: $navy 2px solid;
    border-radius: 12px;
}