@import '../../assets/colors.scss';

$navPadding: 6rem;
$mobilePadding: 10%;
.navigation{
    width: 100vw;
    z-index: 2;
    position: fixed;
    background-color: $navy;
    top: 0;
    left: 0;
    height: 10vh;
}
