@import '../../assets/colors.scss';
.manageTitheFile{
    width: 100%;
    background: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    *{
        color: $navy;
    }
    .manageTitheFile__sections{
        display: flex;
        flex-direction: row;
    }
}