@import '../../assets/colors.scss';
.uploadFile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $white 5px solid;
    border-radius: .5rem;
    padding: 2%;
    h2{
        margin-bottom: 2%;
    }
    .uploadFile__form{
        display: flex;
        align-items: center;
        width: 100%;
        *{
            color: $white;
        }
    }
}