@import '../../assets/colors.scss';
.aboutLeadershipSection{
    background-color: $white;
    padding: 5% 30px;
    display: flex;
    flex-direction: column;
    .aboutLeadershipSection__header{
        height: 13vh;

        h2{
            font-size: calc(2.4vw + 2.4vh + 1.2vmin);
            &:before{
                max-width: 35px;
                margin-right: 10px;
            }
        }
    }
    .aboutLeadershipSection__leaders{
        width: 100%;
        align-self: center;
        margin: 2rem 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (min-width: 768px){
}