@import '../../assets/colors.scss';
.displayItem{
    width: 40%;
    min-height: 40vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .displayItem__title, .displayItem__content{
        text-align: center;
    }
    .displayItem__title{
        font-size: calc(2vw + 2vh + 1vmin);
        // width: 100%;
        padding-bottom: 10px;
    }
    .displayItem__content, .displayItem__button{
        font-family: FuturaBook;
        font-size: calc(1.2vw + 1.2vh + .6vmin);
    }
    .displayItem__content{
        margin-bottom: 10%;
    }
    .displayItem__icon{
        height: 50px;
    }
    >*{
        margin: 4px 0;
    }
}

@media only screen and (min-width: 768px){
    .displayItem{
        width: 25%;
        margin: 2%;
        .displayItem__title{
            font-size: calc(1.5vw + 1.5vh + .75vmin);
        }
        .displayItem__content, .displayItem__button{
            font-size: calc(.75vw + .75vh + .375vmin);
        }
        .displayItem__icon{
            height: 70px;       
        }
    }
}