@import '../../assets/colors.scss';


.hamburger{
    position: relative;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 24px;
    width: 36px;
    background:transparent;
    border: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &:hover{
        span{
            background-color: $white;
        }
    }
    span{
        width: 30px;
        height: 2px;
        background-color: $gold;
        transition: background-color .25s;
    }
}