@import '../../assets/colors.scss';
.calendarForm{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    padding: 5%;

    display: flex;
    flex-direction: column;
    .calendarForm__cross{
        margin-left: 0;
        width: fit-content;
    }
}