@import '../../assets/colors.scss';
.logo{
    max-height: 60px;
    height: 90%;
    min-width: 200px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $white;
    img{
        height: 90%;
        margin-right: 5px;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    a{
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
    }
}