@import '../../utils/colors.scss';
.logo{
    height: 90%;
    min-width: 175px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $white;
    img{
        height: 90%;
        margin-right: 5px;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    a{
        display: flex;
        align-items: center;
        height: 100%;
    }
}