@import '../../utils/colors.scss';
$squareSide: 35vmax;
$mobileSquareSide: 40vmax;
.closingBox{
    width: $mobileSquareSide;
    max-width: 45vh;
    height: $squareSide;
    max-height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px $white solid;
    .closingBox__title{
        display: inline-flex;
        font-size: calc( 2vw + 2vh + 1vmin);
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px){
    .closingBox{    
        width: $squareSide;
        max-width: 40%;
        height: $squareSide;
        max-height: 40vw;
    }
}