@import "../../assets/colors.scss";
.socialList {
  .socialList__title {
    white-space: nowrap;
  }
  .socialList__logos {
    height: 30%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      min-width: unset;
      margin: 0;
      height: 100%;
      img {
        height: 100%;
        width: auto;
        margin: 0 24px;
      }
      .instagramSocial {
        height: 110%;
      }
    }
  }
}
