@import '../../assets/colors.scss';
.socialList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .socialList__title{
        white-space: nowrap;
    }
    .socialList__logos{
        height: 30%;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        a{
            fill: $white;
            min-width: unset;
            margin: 0;
            height: 100%;
            svg{
                height: 100%;
                width: auto;
                margin: 0 10px;
            }
        }
    }
} 