@import '../../assets/colors.scss';

.aboutWelcomeSection, .aboutWelcomeSection__particles{
    height: 90vh;
}
.aboutWelcomeSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    .aboutWelcomeSection__title{
        font-size: calc(1.8vw + 1.8vh + .9vmin);
        grid-area: title;
    }
    .aboutWelcomeSection__worshipHands{
        grid-area: img;
        max-width: 60%;
        max-height: 50%;
        border-radius: 2em;
        align-self: center;
        justify-self: center;
    }
    .aboutWelcomeSection__mainText, .aboutWelcomeSection__subText{
        text-align: left;
    }
    .aboutWelcomeSection__mainText{
        grid-area: main;
        font-size: calc(1.6vw + 1.6vh + .75vmin);
        span{
            color: $yellow;
        }
    }
    .aboutWelcomeSection__subText{
        grid-area: sub;
        font-size: calc(1.2vw + 1.2vh + .6vmin);
        font-family: 'FuturaBook';
        font-weight: 100;
    }
}


@media only screen and (min-width: 768px){
    .aboutWelcomeSection{
        display: grid;
        grid-template-areas: 
        'title title'
        'main img'
        'sub img';
        grid-template-columns: 55% 45%;
        grid-template-rows: 20% 40% 40%;
        gap: 1rem;
        align-content: center;
        align-items: center;
        .aboutWelcomeSection__worshipHands{
            max-width: 100%;
            max-height: 100%;
        }
        .aboutWelcomeSection__subText{
            align-self: center;
        }
    }
}