@import '../../assets/colors.scss';
.calendarPage{
    max-width: 100vw;
    .calendarPage__calendar{
        padding: 5%;
        .calendar__tile{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-height: 5vw;
            .calendar__circle{
                height: .5rem;
                width: .5rem;
                border-radius: 2rem;
                justify-self: center;
                // &.active_event{
                    background-color: red;
                // }
            }
        }
        *{
            color: $navy;
            font-family: CormorantSemiBold;
            font-size: calc(.85vh + .85vw + .425vmin);
        }
    }
}