.display{
    background-image: url('../../utils/images/displayBG.png');
    background-position: center;
    background-position-y: top;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
}
@media only screen and (min-width: 768px){
    .display{
        height: 90vh;
    }
}