@import '../../assets/colors.scss';
.display{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    .display__box{
    }
}
@media only screen and (min-width: 768px){
    .display{
        display: grid;
        grid-template-columns: 1fr 1fr;
        :nth-child(3n){
            grid-column: 1 / end;
        }
    }
}