@import '../../assets/colors.scss';
.calendarPage__calendar{
    padding: 5%;
    .calendar__tile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 3rem;
        height: 15vh;
        border: none;
        .calendar__circle{
            height: 1vh;
            width: 1vh;
            P{
                display: none;
            }
        }
        &::after{
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 10px;
        }
        &.mobileMark::after{
            background-color: red;
        }
        &.weekend{
            background-color: $gold;
        }
        &.notMonth > abbr{
            color: gray;
        }
    }
    .react-calendar__month-view__weekdays *, .calendar__tile, .react-calendar__navigation *{
        background-color: $white;
        border: none;
        text-decoration: none;
    }
    .react-calendar__navigation__arrow{
        width: 5%;
    }
    *{
        color: $navy;
        font-family: FuturaBook;
        font-size: calc(.85vh + .85vw + .425vmin);
    }
}

@media only screen and (min-width: 992px){
    .calendarPage__calendar{
        .calendar__tile{
            .calendar__circle{
                width: 100%;
                min-height: 5vh;
                height: 80%;
                max-width: 95%;
                background-color: inherit;
                border-radius: 2rem;
                justify-self: center;
                P{
                    width: calc(90%);
                    background-color: inherit;
                    font-size: 1.7vh;
                    display: inline-block;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            
            &::after{
                content: none;
            }
        }
    }
}