@import '../../assets/colors.scss';
.teamMemberInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    .teamMemberInfo__image{
        max-height: 30vh;
        max-width: 100%;
        box-shadow: 5px 5px 2px #000000;
    }
    .teamMemberInfo__name{
        padding: .75rem 0;
    }
}
.teamMemberInfo__name, .teamMemberInfo__description{
   color: $navy;
}
.teamMemberInfo__name{
    font-family: FuturaBook;
}

@media only screen and (min-width: 768px){
    .teamMemberInfo{
        width: 25%;
        margin: 1%;
    }
}