@import '../../utils/colors.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}
@font-face {
    font-family: 'Cormorant';
    src: url("../../utils/fonts/CormorantGaramond-Regular.ttf") format("opentype");
}
@font-face {
    font-family: 'CormorantSemiBold';
    src: url("../../utils/fonts/CormorantGaramond-SemiBold.ttf") format("opentype");
}
@font-face {
    font-family: 'FuturaBook';
    src: url("../../utils/fonts/FuturaPTBook.otf") format("opentype");
}
@font-face {
    font-family: 'FuturaMedium';
    src: url("../../utils/fonts/FuturaPTMedium.otf") format("opentype");
}
@font-face {
    font-family: 'FuturaDemi';
    src: url("../../utils/fonts/FuturaPTDemi.otf") format("opentype");
}
.App{
    padding-top: 10vh;
    min-height: 100vh;
    font-family: Cormorant;
    overflow: hidden;
    background-color: $navy;
    h1{
        font-family: CormorantSemiBold;
        letter-spacing: 7px;
    }
    h2{
        font-family: FuturaBook;
        letter-spacing: 6px;
    }
    .underlineTitle{
        padding-bottom: 3px;
        border-bottom: white solid 1px;
    }
}