$gold: #dcc060;
// $navy: #001421;
$navy: #00080F;
$white: #ffffff;
$yellow: #F9D143;
$yellowGradient: linear-gradient(180deg, rgba(249,209,67,1) 0%, rgba(220,192,96,1) 100%);
$grey: #979797;
$darkGrey: #888888;
$purple: #340076;