@import '../../utils/colors.scss';

$titleWidth: calc(3vw + 3vh + 1.5vmin);
.backing{
    display: flex;
}
.backing__bg{
    transform: translateX(-30px);
    width: calc(100% - 30px);
    height: 15%;
    position: absolute;
    path{
        width: 100%;
    }
    
}
.backing__title{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: $titleWidth;
    &:before{
        background-color: white;
        width: 25%;
        height: 3px;
        content: '';
        display: inline-block;
        justify-self: flex-start;
    }
}