@import '../../assets/colors.scss';
.fileList{
    border: $white 5px solid;
    border-radius: .5rem;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40vh;
    &::-webkit-scrollbar-track
    {
        background-color: $navy;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $white;
        border: 2px solid $white;
    }

    ul{
        width: 100%;
        .fileList__item{
            list-style-type: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            span{
                flex-shrink: 1;
                .button{
                    max-width: fit-content;
                    margin: 0;
                }
            }
        }
    }
}