.footer{
    height: 40vh;
    padding: 5% 10%;
    display: grid;
    max-width: 100%;
    grid-template-areas: 
    "logo nav"
    "social nav"
    "border border";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    .footer__nav{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-end;
        *{
            height: 100%;
        }
        h2{
            margin-bottom: .5em;
            height: fit-content;
            width: fit-content;
        }
        .nav__items{
            display: block;
        }
        ul{
            li>a{
                font-size: calc(.75vh + .75vw + .4vmin);
                font-family: FuturaBook;
            }
            flex-direction: column;
        }
    }
    .footer__logo{
        font-size: calc(1.2vh + 1.2vw + .7vmin);
        grid-area: logo;
        width: inherit;
        min-width: auto;
        justify-self: flex-start;
    }
    .footer__social{
        width: fit-content;
        align-items:center ;
        
        h1{
            font-size: calc(1.5vh + 1.5vw + .75vmin);
            font-family: FuturaBook;
            margin-bottom: 5%;
        }
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        *{
            margin: 0;
        }
        grid-area: social;
    }
    .footer__border{
        grid-area: border;
        width: 100%;
    }
    .footer__social>h1, .footer__nav>h2{
        font-size: calc(1.3vh + 1.3vw + .70vmin);
    }
    
}
@media only screen and (min-width: 768px){
    .footer{
        padding: 5% 7%;
        height: 25vh;
        grid-template-areas: 
        "logo social nav"
        "border border border";
        grid-template-columns: 33% 30% 37%;
        grid-template-rows: 60% 40%;
        row-gap: 1em ;
        .footer__social{
            justify-self: center;
        }
        .footer__nav{
            ul{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                li{
                    min-width: 30%;
                    padding: 0;
                }
            }
        }
    }
}
