@import '../../assets/colors.scss';
.footer{
    background-color: $navy;
    height: 35vh;
    padding: 1rem 7%;
    display: grid;
    max-width: 100%;
    grid-template-areas: 
    "logo nav"
    "social social"
    "border border";
    grid-template-columns: 50% 50%;
    align-items: flex-start;
    align-content: space-between;
    justify-items: center;
    .footer__nav{
        grid-area: nav;
        justify-self: flex-end;
        border-radius: 0;
        padding: 12px 15px;
    }
    .footer__logo{
        font-size: calc(1.2vh + 1.2vw + .7vmin);
        grid-area: logo;
        min-width: fit-content;
        height: fit-content;
        justify-self: flex-start;
    }
    .footer__social{
        width: fit-content;
        align-items: center;
        justify-content: flex-start;
        height: 80%;
        
        h1{
            font-size: calc(1.5vh + 1.5vw + .75vmin);
            font-family: Cormorant;
            font-weight: 100;
            margin-bottom: 1rem;
        }
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        *{
            margin: 0;
        }
        .button{
            height: fit-content;
            width: 20%;
        }
        grid-area: social;
    }
    .footer__border{
        grid-area: border;
        width: 100%;
    }
    .footer__social>h1, .footer__nav>h2{
        font-size: calc(1.3vh + 1.3vw + .70vmin);
    }
    
}
@media only screen and (min-width: 768px){
    .footer{
        min-height: fit-content;
        height: fit-content;
        grid-template-areas: 
        "logo social nav"
        "border border border";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 85% 15%;
        row-gap: 1em ;
        column-gap: 5%;
        .footer__social{
            justify-self: center;
        }
    }
}
