@import '../../assets/colors.scss';
.displayBox{
    height: 17rem;
    max-height: 90vmin;
    margin: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .displayBox__bg{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $navyTransparent;
        width: inherit;
        height: inherit;
        h2, a{
            width: fit-content;
        }
        p{
            font-family: FuturaBook;
        }
        >*{
            margin: .5rem 0;
            text-align: left;
        }
    }
}