@import '../../assets/colors.scss';

.nav{
    height: 100%;
    padding: 2%;
    *{
        text-decoration: none;
        color: $white;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        height: 100%;
        li{
            height: fit-content;
            font-size: 1.2rem;
        }
    }
    .nav__button{
        font-size: 1.2rem;
        border-radius: 0;
        border-width: 1px;
        margin: 0;
        font-family: Cormorant;
        padding: 1% 2%;
    }
    a:hover,
    a:active{
        color:$yellow;
    }
}
