@import '../../utils/colors.scss';

.nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 100%;
    *{
        text-decoration: none;
        color: $white;
    }
}

.nav__items a:hover,
.nav__items a:active{
    color:$yellow;
}
.nav__items ul{
    list-style: none;
    display: flex;
}
.nav__items li{
    margin: auto 0;
    padding: 0 1rem;
    text-align: center;
}